/*------------------------------*\
	Placeholder plugin
\*------------------------------*/





/*
CSS by Harry Roberts -- @csswizardry
Built to accompany the placeholder plugin built by Dan Bentley -- @dan_bentley

github.com/danbentley/placeholder

*/





/*--- HOUSEKEEPING ---*/
/*
Ignore this section, your styles should already have this covered...
*/
html{
	color:#333;
	background:#fff;
	font:0.75em/1.5 "Helvetica Neue", Arial;
}





/*--- FORMS ---*/
/*
This is the bit you need.
*/
label{
	position:absolute;
	left:-9999px;
}
input,
textarea{
	font:inherit;
	resize:none;
}





/*--- THE MAGIC ---*/
/*
This is the best bit!
*/
.placeholder {
  color: #c0c0c0;
}